/* إعادة ضبط العناصر */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* إعدادات خلفية المتجر */
.shop {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url('../../public/bgshop.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  padding-top: 50px;
}

/* عنوان القسم */
.shop-section-title {
  font-size: 48px;
  margin-bottom: 30px;
  color: #444;
  text-align: center;
  font-family: 'Rubik', cursive;
}

/* إعدادات محتوى القسم */
.shop-section-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px; /* مسافة بين الـ Cards */
  width: 95vw;
  margin: auto;
}

/* تصميم الكارد */
.product-card {
  width: 150px;
  height: 240px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
}

.product-card:hover {
  .product-card-img img {
    transform: scale(1.6);
    transition-duration: 0.8s;
  }
  transform: scale(1.05);
  box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.15);
  transition-duration: 0.5s;
  overflow:visible;
}

/* صورة المنتج */
.product-card-img img {
  width: 100%;
  height: 60px;
  object-fit: cover;
  border-radius: 8px;
}

/* اسم المنتج */
.product-card-name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 15px 0 5px;
  color: #333;
}

/* سعر المنتج */
.product-card-price {
  font-size: 1rem;
  color: #27ae60;
  margin-bottom: 15px;
}

/* إعدادات الأزرار */
.product-card-buttons {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 10px;
}

.product-card-order,
.product-card-add {
  flex: 1;
  font-size: 0.9rem;
  color: #fff;
  padding: 8px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s;
}

/* لون زر الطلب */
.product-card-order {
  background : #ff7c37 ;
}

.product-card-order:hover {
  background-color: #ff7c00; /* لون أزرق أغمق عند المرور */
}

/* لون زر الإضافة إلى السلة */
.product-card-add {
  background : transparent;
  border : 2px solid #ff7c37;  
  color : #ff7c37;
}

